.header {
  max-width: 1100px;
  min-height: 293px;
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  align-items: center;
  padding-top: 91px;
  padding-right: 50px;
  padding-bottom: 96px;
  padding-left: 50px;
}
/*блок навигационный */
.header__menu {
  display: flex;
  justify-content: space-between;
}
/*блок слева  */
.header__links-list {
  font-size: 18px;
  line-height: 100%;
  display: flex;
  flex-direction: row;
  height: 22px;
  gap: 33px;
  margin-top: 3px;
  list-style: circle;
}
.header__links-list-item {
  list-style-type: none;
}
.header__links-list-item_no-bullit {
  text-decoration: none;
}
.link__list__lot {
  text-decoration: underline;
  text-underline-offset: 4px;
}
.link__list__obauction {
  text-decoration: underline;
  text-underline-offset: 4px;
}
/* логотип */
.header__logo {
  height: 104px;
  width: 148px;
  display: block;
}
/* меню справа */
.address {
  font-style: normal;
  font-size: 18px;
  line-height: 24.3px;
  justify-self: end;
  display: flex;
  flex-direction: column;
  padding-right: 37px;
  gap: 20px;
}
.address__tel {
  text-decoration: underline;
  text-underline-offset: 4px;
  list-style-type: none;
}
.address__messeg {
  text-decoration: underline;
  text-underline-offset: 4px;
  list-style-type: none;
}
.address__street {
  list-style-type: none;
}
/* секция Оно Тебе Надо */
.cover {
  max-width: 1100px;
  min-height: 757px;
  position: relative;
  box-sizing: border-box;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.overlay {
  position: absolute;
  inset: 0;
  background-color: rgb(0, 0, 0, 0.6);
}
.cover__title {
  padding-top: 1px;
  font-size: 100px;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  gap: 18px;
}
.aligned__text_left {
  text-align: left;
  z-index: 1;
  margin-top: 163px;
  margin-left: 50px;
}
.aligned__text_center {
  text-align: center;
  z-index: 1;
  margin-left: 31px;
}
.aligned__text_right {
  text-align: right;
  z-index: 1;
  margin-top: -2px;
  margin-right: 20px;
}
.cover__description {
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
}
.cover__description__text {
  font-weight: 400;
  line-height: 28px;
  font-size: 22px;
  letter-spacing: 90%;
  text-transform: uppercase;
  z-index: 1;
  word-spacing: 18.6px;
  margin-left: 50px;
  margin-top: -37px;
  color: #ffffff;
}
.bet__button {
  z-index: 0;
  font-size: 22px;
  color: #ffffff;
  text-transform: uppercase;
  width: 256px;
  height: 51px;
  margin-top: 105px;
  margin-left: 794px;
  border: solid 1px white;
  background-color: rgb(255, 255, 255, 0);
}
/* секция Лоты */
.lots {
  max-width: 1052px;
  min-height: 723px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 180px;
}
.lots__heading {
  font-size: 40px;
  text-transform: uppercase;
  padding-left: 40px;
}
.lots__conteiner {
  padding-top: 26px;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}
.lots__card {
  display: flex;
  max-width: 334px;
  min-height: 596px;
  flex-grow: 1;
}
.uk__overlay_image {
  position: absolute;
  inset: 0;
  background-color: rgb(0, 0, 0, 0.6);
}
.lots__card__film {
  padding-top: 48px;
  padding-right: 40px;
  padding-bottom: 48px;
  padding-left: 40px;
  position: relative;
  background-image: url(../images/card-lot-01.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
.lots__card__film_school {
  line-height: 120%;
  z-index: 1;
  color: #ffffff;
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: underline;
}
.lots__card__film_text {
  line-height: 120%;
  z-index: 1;
  color: #ffffff;
  font-size: 20px;
}
.lots__card__book {
  padding-top: 48px;
  padding-right: 40px;
  padding-bottom: 48px;
  padding-left: 40px;
  position: relative;
  background-image: url(../images/card-lot-02.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
.lots__card__book_day {
  line-height: 120%;
  z-index: 1;
  color: #ffffff;
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: underline;
}
.lots__card__book_text {
  line-height: 120%;
  z-index: 1;
  color: #ffffff;
  font-size: 20px;
}
.lots__card__picture {
  padding-top: 48px;
  padding-right: 40px;
  padding-bottom: 48px;
  padding-left: 40px;
  position: relative;
  background-image: url(../images/card-lot-03.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
.lots__card__picture_simple {
  line-height: 120%;
  z-index: 1;
  color: #ffffff;
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: underline;
}
.lots__card__picture_text {
  line-height: 120%;
  z-index: 1;
  color: #ffffff;
  font-size: 20px;
}
.lots__look-more-link {
  margin-top: 7px;
  font-size: 20px;
  line-height: 100%;
  padding-left: 40px;
  text-decoration: underline;
  text-underline-offset: 6px;
}
/* секция Аукцион */
.about {
  width: 1052px;
  height: 595px;
  margin-top: 120px;
  margin-right: auto;
  margin-left: auto;
}
.about__column {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 24px;
  padding-top: 36px;
}
.about__logo {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 47px;
}
.about__logo-image {
  width: 148;
  height: 114px;
}
.about__text {
  width: 693px;
  height: 449px;
  line-height: 24px;
  align-self: flex-start;
  padding-top: 10px;
}
.about__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
  margin-top: 94px;
}
.about__text_conteiner {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin-top: 105px;
}
.paragraf_up {
  font-weight: 400;
  line-height: 24px;
  font-size: 20px;
}
.paragraf_down {
  font-size: 20px;
  padding-top: 24px;
}
/* подвал */
.footer {
  width: 1100px;
  height: 180px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: flex-start;
  margin-top: 180px;
  padding-right: 50px;
  padding-left: 50px;
}
/* меню слева */
.address {
  font-style: normal;
  font-size: 18px;
  line-height: 24.3px;
}
.address__tel {
  text-decoration: underline;
  text-underline-offset: 4px;
  list-style-type: none;
}
.address__messeg {
  text-decoration: underline;
  text-underline-offset: 4px;
  list-style-type: none;
}
.address__streetf {
  list-style-type: none;
}
/* меню центральное */
.footer__menu {
  width: 163px;
  height: 64px;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
}
.footer__menu-list {
  text-align: center;
  margin-right: -289px;
  padding-top: 7px;
}
.footer__menu-list-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  list-style-type: none;
  margin-top: -2px;
}
.footer__menu-link_active {
  text-align: center;
  text-decoration: none;
  list-style-type: none;
}
.footer__menu-link {
  list-style-type: none;
  text-underline-offset: 4px;
  padding-top: 2px;
}
/* меню справа */
.footer__social-list {
  width: 240px;
  height: 48px;
  list-style-type: none;
  display: flex;
  gap: 48px;
}
.footer__social-list-item {
  width: 240px;
  height: 48px;
  gap: 48px;
}
.footer__social-icon {
  width: 48px;
  height: 48px;
  border-width: 1px;
}
