.header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  align-items: center;
  padding-top: 93px;
  padding-right: 50px;
  padding-bottom: 96px;
  padding-left: 50px;
}
/*блок навигационный */
.header__menu {
  display: flex;
  justify-content: space-between;
}
.header__links-list {
  font-size: 18px;
  line-height: 100%;
  display: flex;
  gap: 33px;
}
.header__link_active {
  text-decoration: none;
}
.header__links-list-item {
  list-style: circle;
  text-underline-offset: 4px;
}
.header__links-list-item_no-bullit {
  list-style: none;
}
/* логотип */
.header__logo {
  height: 104px;
  display: block;
  justify-self: center;
  align-self: center;
}
.address {
  font-style: normal;
  font-size: 18px;
  line-height: 24.3px;
}
.header__address {
  justify-self: end;
  padding-right: 37px;
}

.address__item {
  display: block;
  font-size: 18px;
  text-decoration: underline;
  text-underline-offset: 4px;
}
/* секция Оно Тебе Надо */
.cover {
  position: relative;
  max-width: 1100px;
  min-height: 757px;
  background: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.overlay {
  position: absolute;
  z-index: 0;
  inset: 0;
  background-color: rgb(0, 0, 0, 0.6);
}
.cover__title {
  font-size: 100px;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  gap: 17px;
}
.aligned__text_left {
  text-align: left;
  z-index: 1;
  margin-top: 164px;
  margin-left: 50px;
}
.aligned__text_center {
  text-align: center;
  z-index: 1;
  margin-left: 31px;
}
.aligned__text_right {
  text-align: right;
  z-index: 1;
  margin-right: 20px;
}
.cover__description {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  padding-right: 50px;
  padding-left: 50px;
  margin-top: 106px;
}
.cover__description__text {
  font-weight: 400;
  line-height: 28px;
  font-size: 22px;
  word-spacing: 18.6px;
  color: #ffffff;
}
.bet__button {
  font-size: 22px;
  font-weight: 500;
  line-height: 28px;
  color: #ffffff;
  text-transform: uppercase;
  min-width: 256px;
  border: solid 1px white;
  background-color: rgb(255, 255, 255, 0);
  padding-top: 10px;
  padding-bottom: 10px;
}
/* секция Лоты */
.lots {
  max-width: 1052px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 182px;
}
.lots__heading {
  font-size: 40px;
  text-transform: uppercase;
  padding-left: 40px;
}
.lots__card-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  padding-top: 26px;
  padding-bottom: 33px;
  gap: 27px;
}
.card-link {
  display: flex;
  min-height: 596px;
  text-decoration: none;
}
.card {
  padding-top: 48px;
  padding-right: 40px;
  padding-bottom: 48px;
  padding-left: 40px;
  position: relative;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
.card_type-film {
  background-image: url(../images/card-lot-01.jpg);
}
.card_type-book {
  background-image: url(../images/card-lot-02.jpg);
}
.card_type-picture {
  background-image: url(../images/card-lot-03.jpg);
}
.card__title {
  z-index: 1;
  color: #ffffff;
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: underline;
}
.card__text {
  line-height: 120%;
  z-index: 1;
  color: #ffffff;
  font-size: 20px;
}

.lots__look-more-link {
  margin-top: 7px;
  font-size: 20px;
  line-height: 100%;
  padding-left: 40px;
  text-underline-offset: 4px;
}
/* секция Аукцион */
.about {
  margin: 119px 24px 0 24px;
  padding-top: 35px;
}
.about__column {
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;
}
.about__logo {
  position: relative;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 47px;
}
.about__logo-image {
  width: 148px;
  height: 114px;
}
.about__paragraf {
  margin-bottom: 13px;
}
.about__text {
  font-size: 20px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.about__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
  margin-top: 105px;
  margin-bottom: 104px;
}
.about__text_conteiner {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin-top: 105px;
}
.about__text_up {
  font-weight: 400;
  line-height: 24px;
  font-size: 20px;
}
.about__text_down {
  font-size: 20px;
  padding-top: 24px;
}
/* подвал */
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 140px;
  margin-top: 166px;
  padding: 0 50px 80px 50px;
}
/* меню слева */
.footer__address__item {
  text-underline-offset: 4px;
}
.footer__address__text {
  list-style-type: none;
  margin-top: 2px;
}
/* меню центральное */
.footer__menu {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
}
.footer__menu-list-item {
  list-style: none;
  margin-top: 3px;
}
.footer__menu-link {
  text-underline-offset: 4px;
  text-decoration: underline;
}
.footer__menu-link_active {
  text-decoration: none;
}
/* меню справа */
.footer__social-list {
  list-style-type: none;
  display: flex;
  gap: 48px;
}
